#abouthero{
    background-image: url(/Images/newfist-bump.jpg);
    margin-top: 50px;
}

h2{
margin: 25px 0 25px 20%;
font-size: 40px;
color: white;
font-style: italic;
}

#aboutus p{
    margin: 0 auto;
    margin-bottom: 20px;
    width: 50%;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: lightblue;
    padding: 15px;
    border: solid 1px black;
}