#abouthero{
    background-image: url(/Images/newfist-bump.jpg);
    margin-top: 50px;
}

h2{
margin-left: 20%;
margin-top: 25px;
}

p{
    margin: 0 auto;
    width: 50%;
    font-size: 18px;
    text-align: center;
}