* {
    margin: 0;
    padding: 0;
}


/* Container CSS */

  
    .ML{
      width: 100px;
      float: left;
    }
    
    body{
      margin:0;
      color:white;
    }
    .Info{
      text-align:center;
      border:1px solid; 
      text-align:center;
      box-sizing:border-box;
      resize:vertical;
      overflow:auto;
      margin-top: 10px;
    }
    
    .container{
      width:75%;
      margin:65px auto;
    }
    input[type=text], select, textarea {
      width: 100%; /* Full width */
      padding: 12px; /* Some padding */ 
      border: 1px solid #ccc; /* Gray border */
      border-radius: 4px; /* Rounded borders */
      box-sizing: border-box; /* Make sure that padding and width stays in place */
      margin-top: 6px; /* Add a top margin */
      margin-bottom: 16px; /* Bottom margin */
      resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    }
    input[type=submit]{
      background-color:white;
      color:darkblue;
      padding:12px 20px;
      border:none;
      cursor:pointer;
    }
    /* Footer and Footer Socail Logos */
    footer ul{
      display: flex;
      justify-content:center;
    }
    footer ul li{
      display: inline-block;
      background-color:white;
      padding:10px 14px;
      margin:0 5px;
    }
    
    footer a:hover{
      background-color:lightblue;
      font-size:20px;
      text-align: center;
        
    }
    footer a{
      color:red;
      width:100%;
      margin:0px;
        height:100%;
      transition: all 0.7s ease;
    }
    
      footer{
        text-align:center;
        background-color: lightblue;
      }
  