* {
    margin: 0;
    padding: 0;
}


/* Navbar CSS */

nav {
    display: block;
    width: 100%;
    position: fixed;
    background: rgb(39, 102, 49);
    text-align: left;
    top: 0;
    z-index: 1;
    padding: 15px;
}

li {
    display: inline;
    padding: 10px;
}

ul{
    list-style-type: none;
    padding-left: 2px;
}

li a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: lightblue;
}

/* stroke */
nav.stroke ul li a {
  position: relative;
}
nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

/* Container CSS */

#container {
    margin-top: 45px;
}